/*****************GLOBALS***********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-backg);
}

/*****************VARIABLES***********************/
:root {
    --main-backg: #000022;
    --color-nose: rgba(255, 166, 0, 0.856);
    --color-body: rgb(80, 202, 80);
}

/***************************************/

.conter {
    width: 50%;
    height: 90%;
    border: 1px solid blue;
    background-color: white;
}

.conter__padding {
    width: 100%;
    height: 100%;
    margin: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border: 1px solid red;
}

.head {
    width: 400px;
    height: 130px;
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 80px;
    border: 1px solid black;
}

.head .rigtEye {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid brown;
    background-color: brown;
}

.head .leftEye {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid brown;
    background-color: brown;
}

.nose {
    position: absolute;
    z-index: 10;
    top: 150px;
    width: 0;
    height: 0;
    border-top: 110px solid var(--color-nose);
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.body-ext {
    width: 100%;
}

.body {
    position: relative;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.torso {
    width: 50%;
    height: 300px;
    background-color: grey;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.left-arm {
    position: relative;
    left: 13px;
    z-index: 0;
    width: 15%;
    height: 290px;
    background-color: var(--color-body);
    border-top-left-radius: 80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 35px;
}

.right-arm {
    width: 15%;
    height: 290px;
    background-color: var(--color-body);
    border-top-left-radius: 15px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 95px;
}

.foots {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.foots-left {
    width: 25%;
    height: 70px;
    border: 1px solid blue;
}

.foots-right {
    width: 25%;
    height: 70px;

    border: 1px solid blue;
}
